.construction-page {
    main { overflow: hidden; }

    .scene-wrapper {
        background-color: #40ADB2;
        padding: 0;
        overflow: hidden;
        position: relative;
        margin-bottom: 0 !important;
    }

    @media only screen and (max-width: @screen-xs-max) { .scene-wrapper { margin: -12px; } }
    @media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max)  { .scene-wrapper { margin: -25px; } }
    @media only screen and (min-width: @screen-md-min) and (max-width: @screen-md-max)  { .scene-wrapper { margin: -36px; } }
    @media only screen and (min-width: @screen-lg-min) { .scene-wrapper { margin: -50px; } }

    .scene, .layer {
        display: block;
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
        list-style-type: disc;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }

    .layer > img {
        width: 100%;
        height: auto;
    }

    .brand-layer {
        width: 100%;
        height: 100%;
        position: relative;

        .brand {
            position: absolute;
            width: 250px;
            height: 250px;
            border-radius: 100%;
            background-color: rgba(255,255,255,.6);
            top: 50%;
            left: 350px;
            margin-top: -125px;

            overflow: hidden;

            > img {
                width: 100%;
                height: 100%;
                padding: ceil(@grid-gutter-width / 2);
                border-radius: 100%;
            }

            @media only screen and (max-width: @screen-xs-max) {

                left: 50%; margin-left: -100px;
                top: 50%; margin-top: -100px;
                width: 200px;
                height: 200px;

            }

        }

    }

    .section-contact {
        padding: 0;
        position: relative;
    }

    .section-contact > .contact {
        position: absolute;
        background-color: rgba(255,255,255,0.8);
        z-index: 900;
        right: 0;
        margin-right: 120px;
        padding: 40px;
        top: -20px;

        -webkit-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
    }

    @media only screen and (max-width: @screen-xs-max) {

        .section-contact > .contact {
            max-width: 350px;
            margin-right: 15px;
        }

    }
}