.maintenance-page {
    background-color: #eee;

    .address {
        background-color: rgba(255, 255, 255, 0.85);
        padding: 30px 15px;
        position: absolute;
        right: 50px;
        top: -20px;
        width: 350px;
        z-index: 999;
        -webkit-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
    }

    .scene, .layer {
        display: block;
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
        list-style-type: disc;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }

    .brand-layer {
        width: 100%;
        height: 100%;
        position: relative;

        .brand {
            position: absolute;
            width: 60%;
            height: 60%;
            border-radius: 100%;
            left: 50%; margin-left: -30%;
            top: 50%; margin-top: -33%;

            overflow: hidden;

            > img {
                width: 100%;
                height: 100%;
                padding: @grid-gutter-width;
                border-radius: 100%;
            }

            //@media only screen and (max-width: @screen-xs-max) {
            //
            //    left: 50%; margin-left: -100px;
            //    top: 50%; margin-top: -100px;
            //    width: 200px;
            //    height: 200px;
            //
            //}

        }

    }

}