{% extends 'base.html' %}

{% load i18n staticfiles %}

{% block title-page %} - Contato{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'js/maps.js' %}" defer></script>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&callback=initialize" defer></script>
{% endblock %}

{% block content %}
{% if company.default_address %}
<div class="section section-map no-padding">

    <div data-maps="google"
         data-lat="{{ company.default_address.latitude|stringformat:"f" }}"
         data-lng="{{ company.default_address.longitude|stringformat:"f" }}"
         data-height="350"
         data-zoom="17"></div>

</div>
{% endif %}

<div class="section section-50">

    <div class="container">

        <div class="section-title">

            <h1>{% trans 'Contact' %}</h1>

        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-5">

                <form id="contact-form" action="{{ form.get_absolute_url }}" method="post">
                    {% csrf_token %}
                    {% for field in form.hidden_fields %}{{ field }}{% endfor %}

                    {% for field in form.visible_fields %}
                        <div class="form-group{% if field.errors %} has-error{% endif %}{% if field.field.required %} required{% endif %}">

                            <label class="sr-only control-label" for="{{ field.id_for_label }}">
                                {{ field.label }}
                            </label>

                            <div class="controls">
                                {{ field }}
                                {% for error in field.errors %}<div class="help_block">{{ error }}</div>{% endfor %}
                            </div>

                        </div>
                    {% endfor %}

                    <div class="form-buttons">

                        <button type="submit" class="btn btn-success btn-lg">Enviar</button>

                    </div>

                </form>

            </div>

            <div class="col-xs-12 col-sm-7">

                {% if company.default_address %}
                <p class="bigger-120">
                    <i class="fa fa-map-marker"></i>
                    {{ company.default_address.to_html }}
                </p>
                {% endif %}

                {% if company.emails %}
                <p class="bigger-120">
                    <i class="fa fa-envelope"></i>
                    {% for email in company.emails %}
                    <a href="mailto:{{ email }}">{{ email }}</a> {% if not forloop.last %}<br />{% endif %}
                    {% endfor %}
                </p>
                {% endif %}

                {% if company.default_phone %}
                <p class="bigger-120">
                    <i class="fa fa-phone"></i> {{ company.default_phone }}
                </p>
                {% endif %}

                <ul class="list-unstyled list-inline">
                    {% if company.facebook %}
                    <li><a href="{{ company.facebook.url }}" class="btn btn-facebook {{ company.facebook.type }}" title="{{ company.facebook.get_type_display }}" target="_blank"><i class="icon fa fa-facebook"></i></a></li>
                    {% endif %}

                    {% if company.gplus %}
                    <li><a href="{{ company.gplus.url }}" class="btn btn-social {{ company.gplus.type }}" title="{{ company.gplus.get_type_display }}" target="_blank"><i class="icon fa fa-google-plus"></i></a></li>
                    {% endif %}

                    {% if company.twitter %}
                    <li><a href="{{ company.twitter.url }}" class="btn btn-social {{ company.twitter.type }}" title="{{ company.twitter.get_type_display }}" target="_blank"><i class="icon fa fa-twitter"></i></a></li>
                    {% endif %}

                    {% if company.flickr %}
                    <li><a href="{{ company.flickr.url }}" class="btn btn-social {{ company.flickr.type }}" title="{{ company.flickr.get_type_display }}" target="_blank"><i class="icon fa fa-flickr"></i></a></li>
                    {% endif %}

                    {% if company.linked_in %}
                    <li><a href="{{ company.linked_in.url }}" class="btn btn-social {{ company.linked_in.type }}" title="{{ company.linked_in.get_type_display }}" target="_blank"><i class="icon fa fa-linkedin"></i></a></li>
                    {% endif %}
                </ul>

            </div>

        </div>

    </div>

</div>
{% endblock content %}