body {
    font-family: @font-family-base;
    font-size: @font-size-base;
    color: @text-color;
    background: @body-bg;
}

// Links

a {
    color: @link-color;
    text-decoration: none;

    &:hover,
    &:focus {
        color: @link-hover-color;
        text-decoration: @link-hover-decoration;
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6, .header {
    font-family: @font-family-headers;
}


h1, .h1 { font-size: @font-size-h1; }
h2, .h2 { font-size: @font-size-h2; }
h3, .h3 { font-size: @font-size-h3; }
h4, .h4 { font-size: @font-size-h4; }
h5, .h5 { font-size: @font-size-h5; }
h6, .h6 { font-size: @font-size-h6; }


// Contextual colors

.text-white { .text-emphasis-variant(@white); }
.text-gray { .text-emphasis-variant(@gray); }
.text-inverse { .text-emphasis-variant(@inverse); }
.text-primary { .text-emphasis-variant(@primary); }
.text-success { .text-emphasis-variant(@success); }
.text-info { .text-emphasis-variant(@info); }
.text-warning { .text-emphasis-variant(@warning); }
.text-danger { .text-emphasis-variant(@danger); }


// Contextual backgrounds
// For now we'll leave these alongside the text classes until v4 when we can
// safely shift things around (per SemVer rules).

.bg-white { .bg-variant(@white); }
.bg-gray { color: #fff; .bg-variant(@gray); }
.bg-inverse { color: #fff; .bg-variant(@inverse); }
.bg-primary { color: #fff; .bg-variant(@primary); }
.bg-success { color: #fff; .bg-variant(@success); }
.bg-info { color: #fff; .bg-variant(@info); }
.bg-warning { color: #fff; .bg-variant(@warning); }
.bg-danger { color: #fff; .bg-variant(@danger); }


// Footer definitions
footer {
    background-color: @footer-bg;
    color: @footer-color;

    .nav-footer .nav-list {
        > li > a {
            padding: 6px 0;
            margin: 0;
            position: relative;

            background-color: @footer-nav-item-bg;
            color: @footer-nav-item-color;

            &:hover, &:focus {
                background-color: @footer-nav-item-hover-bg;
                color: @footer-nav-item-hover-color;
            }

            .arrow {
                position: absolute;
                right: 0;
                width: 16px;
                height: 16px;
                top: 50%; margin-top: -8px;
                line-height: 16px;
                text-align: center;
            }
        }

        > li + li > a {
            border-top: 1px dashed @footer-nav-item-border;
        }
    }

    .copyright {
        background-color: @footer-copyright-bg;
        color: @footer-copyright-color;
        padding: 15px 0;
    }
}

// Scroll to top
.scroll-to-top {
    background: @back-to-top-button-background;
    color: @back-to-top-button-color;
    border-radius: 4px;
    opacity: 0;
    position: fixed;
    right: 10px;
    bottom: 6px;
    text-align: center;
    transition: opacity 0.5s ease 0s;
    z-index: 9999;

    a {
        padding: 8px 12px;
        display: inline-block;
        color: @back-to-top-button-color;
        outline: none;
    }

    &.affix {
        opacity: 1;
    }
}