.lighter { font-weight: lighter; }
.bolder { font-weight: bolder; }

.inline { display: inline-block !important; }
.block { display: block !important; }

.overflow-hidden { overflow: hidden !important; }
.overflow-visible { overflow: visible !important; }

.position-relative, .pos-rel, .relative { position: relative; }
.position-absolute, .pos-abs, .absolute { position: absolute; }

.no-float { float: none !important; }

.text-align(@text-pos) {
    .@{text-pos},
    .align-@{text-pos},
    .text-@{text-pos} {
        text-align: @text-pos !important;
    }
}

.text-align(~'center');
.text-align(~'left');
.text-align(~'right');
.text-align(~'justify');

.middle { vertical-align: middle; }

.line-height-normal { line-height: normal !important; }
.line-height-0 { line-height: 0 !important; }
.line-height-1 { line-height: 1 !important; }
.line-height-125 { line-height: 1.25 !important; }
.line-height-150 { line-height: 1.5 !important; }


.text-bigger (@text-size: 100) when (@text-size =< 300) {
  .bigger-@{text-size} { font-size: unit(@text-size, ~"%") !important; }
  .text-bigger(@text-size + 10);
}

.text-smaller (@text-size: 10) when (@text-size < 100) {
  .smaller-@{text-size} { font-size: unit(@text-size,~"%") !important; }
  .text-smaller(@text-size + 10);
}


.text-bigger();     // rounded numbers [100, 110, ... 300]
.text-bigger(105);  // jumps of 5 in 5 [105, 115, ... 295]

.text-smaller();    // rounded numbers [10, 20, ... 90]
.text-smaller(15);  // jumps of 5 in 5 [15, 25, ... 95]

// <editor-fold desc="width">
.width-auto { width: auto !important; }

.widthX (@index) when (@index =< 100) {
  .width-@{index} { width: unit(@index,~"%") !important; }
  .widthX(@index + 5);
}

.widthX(10);
// </editor-fold>

// <editor-fold desc="height">
.height-auto { height: auto !important; }
// </editor-fold>

// <editor-fold desc="padding">
.no-padding { padding: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-left { padding-left: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding-right { padding-right: 0 !important; }

.paddingX (@index) when (@index < 110){
    .padding-@{index},
    .padding@{index} {
        padding: unit(@index, px);
    }

    .paddingX(@index + 10);
}

.paddingX(10);
// </editor-fold>

// <editor-fold desc="margin">
.no-margin { margin: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-margin-right { margin-right: 0 !important; }
// </editor-fold>

// <editor-fold desc="borders">
.no-border { border-width: 0 !important; }
.no-border-bottom { border-bottom-width: 0 !important; }
.no-border-top { border-top-width: 0 !important; }
.no-border-left { border-left-width: 0 !important; }
.no-border-right { border-right-width: 0 !important; }
.no-radius, .no-border-radius { border-radius: 0 !important; }

.borderRadiusX (@radius) when (@radius < 11) {

  .border-radius-@{radius} {
    -webkit-border-radius: unit(@radius, px);
	-moz-border-radius:    unit(@radius, px);
	border-radius:         unit(@radius, px);

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
  }

  .borderRadiusX(@radius + 1);

}

.borderRadiusX(2);
// </editor-fold>

// <editor-fold desc="hr">
.hr {
  display:block;
  height: 0;
  overflow: hidden;
  font-size: 0;
  border-width: 1px 0 0 0;
  border-top: 1px solid #E3E3E3;
  margin: 12px 0;
  border-top-color: rgba(0,0,0,0.11);
}

.hr-double {
  height: 3px;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;

  border-top-color: rgba(0,0,0,0.11);
  border-bottom-color: rgba(0,0,0,0.11);
}

.hr.dotted { border-style: dotted; }
.hr.dashed { border-style: dashed; }

.hrX (@index) when (@index > 0) {
  .hr-@{index}, .hr@{index} { margin:unit(@index,px) 0; }
  .hrX(@index - 2);
}
.hrX(32);
// </editor-fold>

// <editor-fold desc="space">
.space() {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
}

.space { .space(); margin: 12px 0; }

[class*="vspace-"] { display: none;}

.spaceX (@index) when (@index > 0) {
  .space-@{index} { .space(); margin: unit(@index,px) 0 unit(@index - 1,px); }

  [class*="vspace-@{index}"]
  {
    .space();
    margin:unit(@index,px) 0 unit(@index - 1,px) 0;
  }

  .spaceX(@index - 2);
}
.spaceX(32);
.space-0 , [class*="vspace-0"] { .space(); margin: 0; }

@media only screen and (max-width: @screen-tiny-max) {
  [class*="vspace-"][class*="-xs"] {
    display: block;
  }
}
@media only screen and (max-width: @screen-xs-max) {
  [class*="vspace-"][class*="-sm"] {
    display: block;
  }
}
@media only screen and (max-width: @screen-sm-max) {
  [class*="vspace-"][class*="-md"] {
    display: block;
  }
}
@media only screen and (max-width: @screen-md-max) {
  [class*="vspace-"][class*="-lg"] {
    display: block;
  }
}
// </editor-fold>

// <editor-fold desc="word-spacing"> //
.wordSpacingX (@index) when (@index > 0) {
  .word-spacing-@{index} { word-spacing: unit(@index, px) !important; }
  .word-spacing-@{index}-negative { word-spacing: unit(-@index, px) !important; }
  .wordSpacingX(@index - 2);
}

.wordSpacingX(10);
// </editor-fold> //

// <editor-fold desc="text-columns">
[class*='text-col-'] {
  text-align: justify;

  // todo: fix to gap like bootstrap columns padding
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  -ms-column-gap: 15px;
  -o-column-gap: 15px;
  column-gap: 15px;
}

.textColumns(@class, @index: 1) when (@index =< @text-max-columns) {

  .text-col-@{class}-@{index} {
    -webkit-column-count: @index;
    -moz-column-count: @index;
    -ms-column-count: @index;
    -o-column-count: @index;
    column-count: @index;
    
    -webkit-column-gap: @grid-gutter-width;
    -moz-column-gap: @grid-gutter-width;
    -ms-column-gap: @grid-gutter-width;
    -o-column-gap: @grid-gutter-width;
    column-gap: @grid-gutter-width;
  }

  .textColumns(@class, @index + 1)
}

.textColumns(xs);

@media only screen and (min-width: @screen-xs-max) {
  .textColumns(sm);
}
@media only screen and (min-width: @screen-sm-max) {
  .textColumns(md);
}
@media only screen and (min-width: @screen-md-max) {
  .textColumns(lg);
}
// </editor-fold>

// <editor-fold desc="section">
.section(@index: 20) when (@index < 260) {

  .section-@{index} {
    padding: unit(@index, px) 0;
  }

  .section(@index + 10);
}

.section();
// </editor-fold>

// <editor-fold desc="row">
.row-table {
  display: table;
  height: 100%;
  margin: 0;
  table-layout: fixed;
  width: 100%;
}

.row-table > [class*="col-"] {
  display: table-cell;
  float: none;
  table-layout: fixed;
  vertical-align: middle;
}
// </editor-fold>

// <editor-fold desc="image">
.img-responsive {
  width: 100% !important;
}
// </editor-fold>

// <editor-fold desc="backgrounds">
.bg-center { background-position: 50% 50%; }
.bg-cover { background-size: cover; background-repeat: no-repeat !important; }
// </editor-fold>

// <editor-fold desc="header">
.header {
    border-bottom: 1px solid;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
// </editor-fold>
