//
// Variables
// --------------------------------------------------

//== Colors
//
//## colors by names

@white:           #fff;
@gray:            #555;
@inverse:         #222;
@primary:         #337ab7;
@success:         #5cb85c;
@info:            #5bc0de;
@warning:         #f0ad4e;
@danger:          #d9534f;

//== Global styles
//
//## Settings for some of the most global styles.

@body-bg:               #fff; //** Background color for `<body>`.
@text-color:            @gray-dark; //** Global text color on `<body>`.

@link-color:            @primary; //** Global textual link color.
@link-hover-color:      darken(@link-color, 15%); //** Link hover color set via `darken()` function.
@link-hover-decoration: underline; //** Link hover decoration.

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

@font-family-headers: @font-family-sans-serif;

@text-max-columns: 4;

//== Typography
//
//## Footer definitions

@footer-bg: #444444;
@footer-color: #fff;

@footer-nav-item-bg: @footer-bg;
@footer-nav-item-color: #fff;
@footer-nav-item-border: #666;
@footer-nav-item-hover-bg: @footer-bg;
@footer-nav-item-hover-color: #aaa;

@footer-copyright-bg: darken(@footer-bg, 3%);
@footer-copyright-color: #fff;

@back-to-top-button-background: darken(@footer-bg, 3%);
@back-to-top-button-color: #fff;

// grid
@screen-tiny-max: 350px;