.carousel .item > .img-background {
  left: 0;
  top: 0;
  position: absolute;
  min-height: 100%;
  max-width: 100%;
  z-index: -1;
}
.carousel .item-inner {
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  background: #fff;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #22527b;
  text-decoration: underline;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
.text-white {
  color: #fff;
}
a.text-white:hover,
a.text-white:focus {
  color: #e6e6e6;
}
.text-gray {
  color: #555;
}
a.text-gray:hover,
a.text-gray:focus {
  color: #3b3b3b;
}
.text-inverse {
  color: #222;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #080808;
}
.text-primary {
  color: #337ab7;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #285f8f;
}
.text-success {
  color: #5cb85c;
}
a.text-success:hover,
a.text-success:focus {
  color: #449d44;
}
.text-info {
  color: #5bc0de;
}
a.text-info:hover,
a.text-info:focus {
  color: #31b0d5;
}
.text-warning {
  color: #f0ad4e;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #ec971f;
}
.text-danger {
  color: #d9534f;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #c9302c;
}
.bg-white {
  background-color: #fff;
}
a.bg-white:hover,
a.bg-white:focus {
  background-color: #e6e6e6;
}
.bg-gray {
  color: #fff;
  background-color: #555;
}
a.bg-gray:hover,
a.bg-gray:focus {
  background-color: #3b3b3b;
}
.bg-inverse {
  color: #fff;
  background-color: #222;
}
a.bg-inverse:hover,
a.bg-inverse:focus {
  background-color: #080808;
}
.bg-primary {
  color: #fff;
  background-color: #337ab7;
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #285f8f;
}
.bg-success {
  color: #fff;
  background-color: #5cb85c;
}
a.bg-success:hover,
a.bg-success:focus {
  background-color: #449d44;
}
.bg-info {
  color: #fff;
  background-color: #5bc0de;
}
a.bg-info:hover,
a.bg-info:focus {
  background-color: #31b0d5;
}
.bg-warning {
  color: #fff;
  background-color: #f0ad4e;
}
a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #ec971f;
}
.bg-danger {
  color: #fff;
  background-color: #d9534f;
}
a.bg-danger:hover,
a.bg-danger:focus {
  background-color: #c9302c;
}
footer {
  background-color: #444444;
  color: #fff;
}
footer .nav-footer .nav-list > li > a {
  padding: 6px 0;
  margin: 0;
  position: relative;
  background-color: #444444;
  color: #fff;
}
footer .nav-footer .nav-list > li > a:hover,
footer .nav-footer .nav-list > li > a:focus {
  background-color: #444444;
  color: #aaa;
}
footer .nav-footer .nav-list > li > a .arrow {
  position: absolute;
  right: 0;
  width: 16px;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  line-height: 16px;
  text-align: center;
}
footer .nav-footer .nav-list > li + li > a {
  border-top: 1px dashed #666;
}
footer .copyright {
  background-color: #3c3c3c;
  color: #fff;
  padding: 15px 0;
}
.scroll-to-top {
  background: #3c3c3c;
  color: #fff;
  border-radius: 4px;
  opacity: 0;
  position: fixed;
  right: 10px;
  bottom: 6px;
  text-align: center;
  transition: opacity 0.5s ease 0s;
  z-index: 9999;
}
.scroll-to-top a {
  padding: 8px 12px;
  display: inline-block;
  color: #fff;
  outline: none;
}
.scroll-to-top.affix {
  opacity: 1;
}
.lighter {
  font-weight: lighter;
}
.bolder {
  font-weight: bolder;
}
.inline {
  display: inline-block !important;
}
.block {
  display: block !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.overflow-visible {
  overflow: visible !important;
}
.position-relative,
.pos-rel,
.relative {
  position: relative;
}
.position-absolute,
.pos-abs,
.absolute {
  position: absolute;
}
.no-float {
  float: none !important;
}
.center,
.align-center,
.text-center {
  text-align: center !important;
}
.left,
.align-left,
.text-left {
  text-align: left !important;
}
.right,
.align-right,
.text-right {
  text-align: right !important;
}
.justify,
.align-justify,
.text-justify {
  text-align: justify !important;
}
.middle {
  vertical-align: middle;
}
.line-height-normal {
  line-height: normal !important;
}
.line-height-0 {
  line-height: 0 !important;
}
.line-height-1 {
  line-height: 1 !important;
}
.line-height-125 {
  line-height: 1.25 !important;
}
.line-height-150 {
  line-height: 1.5 !important;
}
.bigger-100 {
  font-size: 100% !important;
}
.bigger-110 {
  font-size: 110% !important;
}
.bigger-120 {
  font-size: 120% !important;
}
.bigger-130 {
  font-size: 130% !important;
}
.bigger-140 {
  font-size: 140% !important;
}
.bigger-150 {
  font-size: 150% !important;
}
.bigger-160 {
  font-size: 160% !important;
}
.bigger-170 {
  font-size: 170% !important;
}
.bigger-180 {
  font-size: 180% !important;
}
.bigger-190 {
  font-size: 190% !important;
}
.bigger-200 {
  font-size: 200% !important;
}
.bigger-210 {
  font-size: 210% !important;
}
.bigger-220 {
  font-size: 220% !important;
}
.bigger-230 {
  font-size: 230% !important;
}
.bigger-240 {
  font-size: 240% !important;
}
.bigger-250 {
  font-size: 250% !important;
}
.bigger-260 {
  font-size: 260% !important;
}
.bigger-270 {
  font-size: 270% !important;
}
.bigger-280 {
  font-size: 280% !important;
}
.bigger-290 {
  font-size: 290% !important;
}
.bigger-300 {
  font-size: 300% !important;
}
.bigger-105 {
  font-size: 105% !important;
}
.bigger-115 {
  font-size: 115% !important;
}
.bigger-125 {
  font-size: 125% !important;
}
.bigger-135 {
  font-size: 135% !important;
}
.bigger-145 {
  font-size: 145% !important;
}
.bigger-155 {
  font-size: 155% !important;
}
.bigger-165 {
  font-size: 165% !important;
}
.bigger-175 {
  font-size: 175% !important;
}
.bigger-185 {
  font-size: 185% !important;
}
.bigger-195 {
  font-size: 195% !important;
}
.bigger-205 {
  font-size: 205% !important;
}
.bigger-215 {
  font-size: 215% !important;
}
.bigger-225 {
  font-size: 225% !important;
}
.bigger-235 {
  font-size: 235% !important;
}
.bigger-245 {
  font-size: 245% !important;
}
.bigger-255 {
  font-size: 255% !important;
}
.bigger-265 {
  font-size: 265% !important;
}
.bigger-275 {
  font-size: 275% !important;
}
.bigger-285 {
  font-size: 285% !important;
}
.bigger-295 {
  font-size: 295% !important;
}
.smaller-10 {
  font-size: 10% !important;
}
.smaller-20 {
  font-size: 20% !important;
}
.smaller-30 {
  font-size: 30% !important;
}
.smaller-40 {
  font-size: 40% !important;
}
.smaller-50 {
  font-size: 50% !important;
}
.smaller-60 {
  font-size: 60% !important;
}
.smaller-70 {
  font-size: 70% !important;
}
.smaller-80 {
  font-size: 80% !important;
}
.smaller-90 {
  font-size: 90% !important;
}
.smaller-15 {
  font-size: 15% !important;
}
.smaller-25 {
  font-size: 25% !important;
}
.smaller-35 {
  font-size: 35% !important;
}
.smaller-45 {
  font-size: 45% !important;
}
.smaller-55 {
  font-size: 55% !important;
}
.smaller-65 {
  font-size: 65% !important;
}
.smaller-75 {
  font-size: 75% !important;
}
.smaller-85 {
  font-size: 85% !important;
}
.smaller-95 {
  font-size: 95% !important;
}
.width-auto {
  width: auto !important;
}
.width-10 {
  width: 10% !important;
}
.width-15 {
  width: 15% !important;
}
.width-20 {
  width: 20% !important;
}
.width-25 {
  width: 25% !important;
}
.width-30 {
  width: 30% !important;
}
.width-35 {
  width: 35% !important;
}
.width-40 {
  width: 40% !important;
}
.width-45 {
  width: 45% !important;
}
.width-50 {
  width: 50% !important;
}
.width-55 {
  width: 55% !important;
}
.width-60 {
  width: 60% !important;
}
.width-65 {
  width: 65% !important;
}
.width-70 {
  width: 70% !important;
}
.width-75 {
  width: 75% !important;
}
.width-80 {
  width: 80% !important;
}
.width-85 {
  width: 85% !important;
}
.width-90 {
  width: 90% !important;
}
.width-95 {
  width: 95% !important;
}
.width-100 {
  width: 100% !important;
}
.height-auto {
  height: auto !important;
}
.no-padding {
  padding: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.padding-10,
.padding10 {
  padding: 10px;
}
.padding-20,
.padding20 {
  padding: 20px;
}
.padding-30,
.padding30 {
  padding: 30px;
}
.padding-40,
.padding40 {
  padding: 40px;
}
.padding-50,
.padding50 {
  padding: 50px;
}
.padding-60,
.padding60 {
  padding: 60px;
}
.padding-70,
.padding70 {
  padding: 70px;
}
.padding-80,
.padding80 {
  padding: 80px;
}
.padding-90,
.padding90 {
  padding: 90px;
}
.padding-100,
.padding100 {
  padding: 100px;
}
.no-margin {
  margin: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-border {
  border-width: 0 !important;
}
.no-border-bottom {
  border-bottom-width: 0 !important;
}
.no-border-top {
  border-top-width: 0 !important;
}
.no-border-left {
  border-left-width: 0 !important;
}
.no-border-right {
  border-right-width: 0 !important;
}
.no-radius,
.no-border-radius {
  border-radius: 0 !important;
}
.border-radius-2 {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.border-radius-3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.border-radius-4 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.border-radius-5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.border-radius-6 {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.border-radius-7 {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.border-radius-8 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.border-radius-9 {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.border-radius-10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.hr {
  display: block;
  height: 0;
  overflow: hidden;
  font-size: 0;
  border-width: 1px 0 0 0;
  border-top: 1px solid #E3E3E3;
  margin: 12px 0;
  border-top-color: rgba(0, 0, 0, 0.11);
}
.hr-double {
  height: 3px;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  border-top-color: rgba(0, 0, 0, 0.11);
  border-bottom-color: rgba(0, 0, 0, 0.11);
}
.hr.dotted {
  border-style: dotted;
}
.hr.dashed {
  border-style: dashed;
}
.hr-32,
.hr32 {
  margin: 32px 0;
}
.hr-30,
.hr30 {
  margin: 30px 0;
}
.hr-28,
.hr28 {
  margin: 28px 0;
}
.hr-26,
.hr26 {
  margin: 26px 0;
}
.hr-24,
.hr24 {
  margin: 24px 0;
}
.hr-22,
.hr22 {
  margin: 22px 0;
}
.hr-20,
.hr20 {
  margin: 20px 0;
}
.hr-18,
.hr18 {
  margin: 18px 0;
}
.hr-16,
.hr16 {
  margin: 16px 0;
}
.hr-14,
.hr14 {
  margin: 14px 0;
}
.hr-12,
.hr12 {
  margin: 12px 0;
}
.hr-10,
.hr10 {
  margin: 10px 0;
}
.hr-8,
.hr8 {
  margin: 8px 0;
}
.hr-6,
.hr6 {
  margin: 6px 0;
}
.hr-4,
.hr4 {
  margin: 4px 0;
}
.hr-2,
.hr2 {
  margin: 2px 0;
}
.space {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
}
[class*="vspace-"] {
  display: none;
}
.space-32 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 32px 0 31px;
}
[class*="vspace-32"] {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 32px 0 31px 0;
}
.space-30 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 30px 0 29px;
}
[class*="vspace-30"] {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 30px 0 29px 0;
}
.space-28 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 28px 0 27px;
}
[class*="vspace-28"] {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 28px 0 27px 0;
}
.space-26 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 26px 0 25px;
}
[class*="vspace-26"] {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 26px 0 25px 0;
}
.space-24 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 24px 0 23px;
}
[class*="vspace-24"] {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 24px 0 23px 0;
}
.space-22 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 22px 0 21px;
}
[class*="vspace-22"] {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 22px 0 21px 0;
}
.space-20 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 20px 0 19px;
}
[class*="vspace-20"] {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 20px 0 19px 0;
}
.space-18 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 18px 0 17px;
}
[class*="vspace-18"] {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 18px 0 17px 0;
}
.space-16 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 16px 0 15px;
}
[class*="vspace-16"] {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 16px 0 15px 0;
}
.space-14 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 14px 0 13px;
}
[class*="vspace-14"] {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 14px 0 13px 0;
}
.space-12 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 12px 0 11px;
}
[class*="vspace-12"] {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 12px 0 11px 0;
}
.space-10 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 10px 0 9px;
}
[class*="vspace-10"] {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 10px 0 9px 0;
}
.space-8 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 8px 0 7px;
}
[class*="vspace-8"] {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 8px 0 7px 0;
}
.space-6 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 6px 0 5px;
}
[class*="vspace-6"] {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 6px 0 5px 0;
}
.space-4 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 4px 0 3px;
}
[class*="vspace-4"] {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 4px 0 3px 0;
}
.space-2 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 2px 0 1px;
}
[class*="vspace-2"] {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 2px 0 1px 0;
}
.space-0,
[class*="vspace-0"] {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 0;
}
@media only screen and (max-width: 350px) {
  [class*="vspace-"][class*="-xs"] {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  [class*="vspace-"][class*="-sm"] {
    display: block;
  }
}
@media only screen and (max-width: 991px) {
  [class*="vspace-"][class*="-md"] {
    display: block;
  }
}
@media only screen and (max-width: 1199px) {
  [class*="vspace-"][class*="-lg"] {
    display: block;
  }
}
.word-spacing-10 {
  word-spacing: 10px !important;
}
.word-spacing-10-negative {
  word-spacing: -10px !important;
}
.word-spacing-8 {
  word-spacing: 8px !important;
}
.word-spacing-8-negative {
  word-spacing: -8px !important;
}
.word-spacing-6 {
  word-spacing: 6px !important;
}
.word-spacing-6-negative {
  word-spacing: -6px !important;
}
.word-spacing-4 {
  word-spacing: 4px !important;
}
.word-spacing-4-negative {
  word-spacing: -4px !important;
}
.word-spacing-2 {
  word-spacing: 2px !important;
}
.word-spacing-2-negative {
  word-spacing: -2px !important;
}
[class*='text-col-'] {
  text-align: justify;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  -ms-column-gap: 15px;
  -o-column-gap: 15px;
  column-gap: 15px;
}
.text-col-xs-1 {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -ms-column-count: 1;
  -o-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  -ms-column-gap: 30px;
  -o-column-gap: 30px;
  column-gap: 30px;
}
.text-col-xs-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  -ms-column-gap: 30px;
  -o-column-gap: 30px;
  column-gap: 30px;
}
.text-col-xs-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  -ms-column-gap: 30px;
  -o-column-gap: 30px;
  column-gap: 30px;
}
.text-col-xs-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  -o-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  -ms-column-gap: 30px;
  -o-column-gap: 30px;
  column-gap: 30px;
}
@media only screen and (min-width: 767px) {
  .text-col-sm-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    -o-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    -ms-column-gap: 30px;
    -o-column-gap: 30px;
    column-gap: 30px;
  }
  .text-col-sm-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    -ms-column-gap: 30px;
    -o-column-gap: 30px;
    column-gap: 30px;
  }
  .text-col-sm-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    -ms-column-gap: 30px;
    -o-column-gap: 30px;
    column-gap: 30px;
  }
  .text-col-sm-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    -ms-column-gap: 30px;
    -o-column-gap: 30px;
    column-gap: 30px;
  }
}
@media only screen and (min-width: 991px) {
  .text-col-md-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    -o-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    -ms-column-gap: 30px;
    -o-column-gap: 30px;
    column-gap: 30px;
  }
  .text-col-md-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    -ms-column-gap: 30px;
    -o-column-gap: 30px;
    column-gap: 30px;
  }
  .text-col-md-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    -ms-column-gap: 30px;
    -o-column-gap: 30px;
    column-gap: 30px;
  }
  .text-col-md-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    -ms-column-gap: 30px;
    -o-column-gap: 30px;
    column-gap: 30px;
  }
}
@media only screen and (min-width: 1199px) {
  .text-col-lg-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    -o-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    -ms-column-gap: 30px;
    -o-column-gap: 30px;
    column-gap: 30px;
  }
  .text-col-lg-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    -ms-column-gap: 30px;
    -o-column-gap: 30px;
    column-gap: 30px;
  }
  .text-col-lg-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    -ms-column-gap: 30px;
    -o-column-gap: 30px;
    column-gap: 30px;
  }
  .text-col-lg-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    -ms-column-gap: 30px;
    -o-column-gap: 30px;
    column-gap: 30px;
  }
}
.section-20 {
  padding: 20px 0;
}
.section-30 {
  padding: 30px 0;
}
.section-40 {
  padding: 40px 0;
}
.section-50 {
  padding: 50px 0;
}
.section-60 {
  padding: 60px 0;
}
.section-70 {
  padding: 70px 0;
}
.section-80 {
  padding: 80px 0;
}
.section-90 {
  padding: 90px 0;
}
.section-100 {
  padding: 100px 0;
}
.section-110 {
  padding: 110px 0;
}
.section-120 {
  padding: 120px 0;
}
.section-130 {
  padding: 130px 0;
}
.section-140 {
  padding: 140px 0;
}
.section-150 {
  padding: 150px 0;
}
.section-160 {
  padding: 160px 0;
}
.section-170 {
  padding: 170px 0;
}
.section-180 {
  padding: 180px 0;
}
.section-190 {
  padding: 190px 0;
}
.section-200 {
  padding: 200px 0;
}
.section-210 {
  padding: 210px 0;
}
.section-220 {
  padding: 220px 0;
}
.section-230 {
  padding: 230px 0;
}
.section-240 {
  padding: 240px 0;
}
.section-250 {
  padding: 250px 0;
}
.row-table {
  display: table;
  height: 100%;
  margin: 0;
  table-layout: fixed;
  width: 100%;
}
.row-table > [class*="col-"] {
  display: table-cell;
  float: none;
  table-layout: fixed;
  vertical-align: middle;
}
.img-responsive {
  width: 100% !important;
}
.bg-center {
  background-position: 50% 50%;
}
.bg-cover {
  background-size: cover;
  background-repeat: no-repeat !important;
}
.header {
  border-bottom: 1px solid;
  padding-bottom: 8px;
  margin-bottom: 10px;
}
.construction-page main {
  overflow: hidden;
}
.construction-page .scene-wrapper {
  background-color: #40ADB2;
  padding: 0;
  overflow: hidden;
  position: relative;
  margin-bottom: 0 !important;
}
@media only screen and (max-width: 767px) {
  .construction-page .scene-wrapper {
    margin: -12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .construction-page .scene-wrapper {
    margin: -25px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .construction-page .scene-wrapper {
    margin: -36px;
  }
}
@media only screen and (min-width: 1200px) {
  .construction-page .scene-wrapper {
    margin: -50px;
  }
}
.construction-page .scene,
.construction-page .layer {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.construction-page .layer > img {
  width: 100%;
  height: auto;
}
.construction-page .brand-layer {
  width: 100%;
  height: 100%;
  position: relative;
}
.construction-page .brand-layer .brand {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  top: 50%;
  left: 350px;
  margin-top: -125px;
  overflow: hidden;
}
.construction-page .brand-layer .brand > img {
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 100%;
}
@media only screen and (max-width: 767px) {
  .construction-page .brand-layer .brand {
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
    width: 200px;
    height: 200px;
  }
}
.construction-page .section-contact {
  padding: 0;
  position: relative;
}
.construction-page .section-contact > .contact {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 900;
  right: 0;
  margin-right: 120px;
  padding: 40px;
  top: -20px;
  -webkit-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 767px) {
  .construction-page .section-contact > .contact {
    max-width: 350px;
    margin-right: 15px;
  }
}
.maintenance-page {
  background-color: #eee;
}
.maintenance-page .address {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 30px 15px;
  position: absolute;
  right: 50px;
  top: -20px;
  width: 350px;
  z-index: 999;
  -webkit-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
}
.maintenance-page .scene,
.maintenance-page .layer {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.maintenance-page .brand-layer {
  width: 100%;
  height: 100%;
  position: relative;
}
.maintenance-page .brand-layer .brand {
  position: absolute;
  width: 60%;
  height: 60%;
  border-radius: 100%;
  left: 50%;
  margin-left: -30%;
  top: 50%;
  margin-top: -33%;
  overflow: hidden;
}
.maintenance-page .brand-layer .brand > img {
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 100%;
}
