{% extends 'page.html' %}

{% load staticfiles %}

{% block body-class %} page-not-found{% endblock %}
{% block title-page %} - Página não encontrada{% endblock %}

{% block page-header %}
<div class="page-header">

    <div class="container">

        <h1 class="lighter smaller">
            <span class="bigger-125">404</span>
            Página não encontrada
        </h1>

    </div>

</div>
{% endblock %}

{% block page-content %}

<p class="text">
    Não foi possível encontrar a página requisitada... <i class="fa fa-frown-o "></i><br/>
    Mas há muitas outras que estão disponíveis para você!
</p>

<p class="text">
    Porque não aproveita que está por aqui e navega pelo resto do site? <br/>
    Volte para a página inicial clicando <a href="{% url 'home' %}"> aqui</a>!
</p>
{% endblock %}