{% extends 'page.html' %}

{% load staticfiles %}

{% block body-class %} internal-error{% endblock %}
{% block title-page %} - Erro Interno no Servidor{% endblock %}

{% block page-header %}
<div class="page-header">

    <div class="container">

        <h1 class="page-title lighter smaller">
            <span class="bigger-125">500</span>
            Erro interno no servidor
        </h1>

    </div>

</div>
{% endblock %}

{% block page-content %}
<p class="text">
    Infelizmente aconteceu algo que não prevíamos... <i class="fa fa-frown-o "></i><br/>
    Mas calma, nem tudo está perdido!
</p>

<p class="text">
    Porque não aproveita que está por aqui e navega pelo resto do site? <br/>
    Volte para a página inicial clicando <a href="{% url 'home' %}"> aqui</a>!
</p>
{% endblock %}