{% extends 'skeleton.html' %}

{% load staticfiles mediafiles navigation %}

{# Site definitions #}
{% block title-page %}{% if page_title %} - {{ page_title }}{% endif %}{% endblock %}
{% block meta-description-page %}{% if meta_description %}{{ meta_description }}{% endif %}{% endblock %}
{% block meta-keywords %}{% if meta_keywords %}{{ meta_keywords }}{% endif %}{% endblock %}

{% block meta %}
    {{ block.super }}
    {{ page_meta.as_html }}
{% endblock meta %}

{% block link %}
    {{ block.super }}
    {{ page_links.as_html }}
{% endblock link %}

{% block extrastyles %}
    {{ block.super }}
    {% media_css media %}
{% endblock %}

{% block extrascript %}
    {{ block.super }}
    {% media_js media %}
{% endblock %}

{# site body #}
{% block body %}
<header>

    {% block navbar %}
    <nav class="navbar navbar-default no-margin-bottom">

        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Alternar Navegação</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">Brand</a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">

                {% block navbar.main-nav %}
                <ul class="nav navbar-nav navbar-right">

                    {% get_navigation namespace='main' template='navbar_nav.html' %}

                </ul><!-- /.nav -->
                {% endblock navbar.main-nav %}

            </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->

    </nav><!-- /.navbar -->
    {% endblock navbar %}

</header>

<main id="main-content" class="main-content">

    {% block content %}{% endblock content %}

</main>

<footer>

    <div class="footer-content section-50">

        <div class="container">

            <div class="row">

                <!-- brand -->
                <div class="col-xs-12 col-sm-4">

                    {% if company.brand %}
                        <img class="img-responsive" src="{{ company.brand.url }}" />
                    {% endif %}

                </div>

                <!-- navigation -->
                <div class="col-xs-12 col-sm-4">

                    <h4 class="header lighter">Navegue um pouco mais</h4>

                    <nav class="nav-footer" role="navigation">

                        <ul class="nav nav-list">

                            {% get_navigation namespace='footer' template='nav_list.html' %}

                        </ul>

                    </nav>

                </div>

                <!-- extra content -->
                <div class="col-xs-12 col-sm-4">

                    <div class="social-buttons text-center">
                        <button class="btn btn-social btn-facebook btn-primary"><i class="fa fa-facebook-official"></i></button>&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-social btn-google-plus btn-danger"><i class="fa fa-google-plus-square"></i></button>&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-social btn-twitter btn-info"><i class="fa fa-twitter-square"></i></button>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="copyright">

        <div class="container">

            <span>2015 © All Rights Reserved.</span>

        </div>

    </div>

</footer>

{% block scroll-top-button %}
<div data-offset-top="200" data-spy="affix" class="scroll-to-top hidden-xs">

    <a href="#"
       data-spy="slideScroll"
       data-offset-top="0"
       data-speed="500">
        <i class="fa fa-arrow-up"></i>
    </a>

</div>
{% endblock %}
{% endblock body %}