{% load navigation %}

{% for child in children %}
<li class="{% if child.is_selected %}active{% endif %}{% if child.nodes %} dropdown dropdown-hover{% endif %}">
    {% if child.nodes %}
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ child.title }} <span class="caret"></span></a>

    <ul class="dropdown-menu">
        {% get_navigation nodes=child.nodes template=template %}
    </ul>
    {% else %}
    <a href="{{ child.url }}" title="{{ child.title }}">{{ child.title }}</a>
    {% endif %}
</li>
{% endfor %}