{% extends 'base.html' %}

{% block content %}
<div id="page-content" class="page-content">

    {% block page-header %}{% endblock %}

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-8">
                {% block page-content %}{% endblock %}
            </div>

            <div class="col-sm-4 hidden-xs">
                {% block sidebar %}{% endblock %}
            </div>

        </div>

    </div>

    {% block extra-content %}{% endblock %}

</div>
{% endblock %}