{% extends 'base.html' %}

{% block content %}
<div id="page-content" class="page-content">

    {% block page-header %}{% endblock %}

    <div class="container">

        {% block page-content %}{% endblock %}

    </div>

    {% block extra-content %}{% endblock %}

</div>
{% endblock %}