{% extends 'skeleton.html' %}

{% load staticfiles  %}

{% block body-class %}construction-page{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'js/maps.js' %}" defer></script>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&callback=initialize&key=AIzaSyCsxiFR77KVB-fQ8O7SCbF8IEXYJARnri4" defer></script>
<script src="{% static 'js/parallax.min.js' %}"></script>

<script>
    var scene = document.getElementById('scene');
    var parallax = new Parallax(scene);
</script>
{% endblock %}

{% block body %}
<main>

    <div class="scene-wrapper">

        <ul id="scene" class="scene">
            <li class="layer" data-depth="0.05"><img src="{% static 'img/construction/1.png' %}" /></li>
            <li class="layer" data-depth="0"><img src="{% static 'img/construction/2.png' %}" /></li>
            <li class="layer" data-depth="-0.05"><img src="{% static 'img/construction/3.png' %}" /></li>
            <li class="layer" data-depth="0.20"><img src="{% static 'img/construction/4.png' %}" /></li>
            <li class="layer" data-depth="0.01"><img src="{% static 'img/construction/5.png' %}" /></li>

            {% if company.brand %}
            <li class="layer" data-depth="0.40">
                <div class="brand-layer">
                    <div class="brand">
                        <img src="{{ company.brand.url }}" />
                    </div>
                </div>
            </li>
            {% endif %}

            <li class="layer hidden-xs" data-depth="0.20"><img src="{% static 'img/construction/8.png' %}" /></li>
        </ul>

        <div class="visible-xs text-center">

            <img class="img-responsive" src="{% static 'img/construction/9.png' %}" />

        </div>

    </div>

    {% if company.default_address %}
    <div class="section section-contact">

        <div class="contact">

            <h4 class="header no-margin-top">CONTATO</h4>

            <p class="bigger-120">
                <i class="fa fa-map-marker"></i>
                {{ company.default_address.to_html }}
            </p>

            {% if company.emails %}
                <p class="bigger-120">
                    <i class="fa fa-envelope"></i>
                    {% for email in company.emails %}
                        <a href="mailto:{{ email }}">{{ email }}</a> {% if not forloop.last %}<br />{% endif %}
                    {% endfor %}
                </p>
            {% endif %}

            {% if company.default_phone %}
                <p class="bigger-120">
                    <i class="fa fa-phone"></i> {{ company.default_phone }}
                </p>
            {% endif %}

        </div>

        {% if company.default_address %}
        <div data-maps="google"
             data-lat="{{ company.default_address.latitude|stringformat:'f' }}"
             data-lng="{{ company.default_address.longitude|stringformat:'f' }}"
             data-height="550"
             data-zoom="17"></div>
        {% endif %}

    </div>
    {% endif %}

</main>

<footer>

    <div class="copyright">

        <div class="container text-center">

            <span>
                Desenvolvido por
                <a title="System Brasil" href="http://systembrasil.com.br/" target="_blank">
                    System Brasil
                </a>
            </span>

        </div>

    </div>

</footer>
{% endblock %}
