{% extends 'base.html' %}

{% load staticfiles %}

{% block title-page %}{% endblock %}

{% block content %}
<section data-ride="carousel" class="section section-slide carousel slide" id="main-slider">

    <div class="carousel-inner">

        <div class="item active" style="height: 500px;">

            <img class="img-background" src="{% static 'img/item1.jpg' %}" />

            <div class="container">

                <div class="item-inner">

                    <h2 class="item-title">Ready to Start?</h2>

                    <div class="item-desc">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</div>

                    <a href="#" class="btn btn-lg btn-default"><i class="fa fa-area-chart"></i> How it works?</a>

                </div>

            </div>

        </div>

        <div class="item" style="height: 500px;">

            <img class="img-background" src="{% static 'img/item2.jpg' %}" />

            <div class="container">

                <div class="item-inner">

                    <h2 class="item-title">Ready to Start?</h2>

                    <div class="item-desc">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</div>

                    <a href="#" class="btn btn-lg btn-default"><i class="fa fa-area-chart"></i> How it works?</a>

                </div>

            </div>

        </div>

        <div class="item" style="height: 500px;">

            <img class="img-background" src="{% static 'img/item3.jpg' %}" />

            <div class="container">

                <div class="item-inner">

                    <h2 class="item-title">Ready to Start?</h2>

                    <div class="item-desc">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</div>

                    <a href="#" class="btn btn-lg btn-default"><i class="fa fa-area-chart"></i> How it works?</a>

                </div>

            </div>

        </div>

    </div>

    <a class="left carousel-control" href="#main-slider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#main-slider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

</section>

<section class="section section-50" id="features">

    <div class="container">

        <h2 class="section-title"><span>How it works?</span></h2>

        <div class="row">

            <div class="col-md-3 col-sm-4 col-xs-2 text-center">
                <img alt="" src="{% static 'img/icon-easel-flat.png' %}">
                <h4>Subheading</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-2 text-center">
                <img alt="" src="{% static 'img/icon-comments-flat.png' %}">
                <h4>Subheading</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-2 text-center">
                <img alt="" src="{% static 'img/icon-book-flat.png' %}">
                <h4>Subheading</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-2 text-center">
                <img alt="" src="{% static 'img/icon-bag-flat.png' %}">
                <h4>Subheading</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
            </div>

        </div>

    </div>

</section>
{% endblock content %}