.carousel {

    .item {

        & > .img-background {
            left: 0;
            top: 0;
            position: absolute;
            min-height: 100%;
            max-width: 100%;
            z-index: -1;
        }
    }

    .item-inner {
        background: rgba(255,255,255,0.8);
        padding: 40px;
    }

}